<div class="card testimonial">
  <div class="text-center pt-3">
    <img src="images/portraits/alessandro_caporrini.jpg" class="card-img-top avatar" alt="Alessandro Caporrini">
  </div>
  <div class="card-body">
    <h5 class="card-title text-center"><a href="https://www.linkedin.com/in/alessandrocaporrini/" target="_blank">Alessandro Caporrini</a></h5>
    <h6 class="card-subtitle mb-2 text-muted  text-center">Senior Software Developer</h6>
    <p class="card-text">

      <blockquote>
        Some quick example text to build on the card title and make up the bulk of the card's content...
        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
          read full
        </a>
      </blockquote>

    </p>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen-sm-down modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><a href="https://www.linkedin.com/in/alessandrocaporrini/" target="_blank">Alessandro Caporrini</a> · <small class="text-muted">Senior Software Engineer</small></h5>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="images/portraits/alessandro_caporrini.jpg" class="card-img-top avatar float-end ms-2 me-4 mt-2 mb-4" alt="Alessandro Caporrini">
        <blockquote>
      <%= markdown("
I had the honor and pleasure to work closely with Fernando for several years and I’m convinced that he is the most talented Engineer I’ve ever met. At that time he was the CTO of the company I joined and I could witness him building an impressive and complex distributed architecture from the ground up, an architecture that scaled flawlessly over the years up to millions of users sessions through several microservices and API integrations with third party partners. His talent in designing an elastic resilient and versatile system from the very start was what made possible for the company to keep growing exponentially and expand their business without technical constraints.

He is a well rounded engineer, he’s a passionate rubyst and a true talent in full stack development with Rails, but he is also able to jump into every technology and learn it in no time.

From design to hands-on coding up to infrastructure and operations, Fernando was the main driver of every technical solution of the company and a reference and inspiration for every employee inside and outside of the technical department.

He has an impressive talent for finding effective technical solutions to every kind of business requirement or issue and when designing software his style is clean, effective and simple. Through Fernando I learned the value of always being 100% committed to finding the most simple yet effective solution for every requirement. Instead of showcasing his talent through over-engineering or choices of hyped but unnecessary technologies, his main focus was always on delivering features that carry business value in the most agile, simple and maintainable way. You can always trust Fernando to deliver what the business needs, in the most effective way possible.

He was a very loved and appreciated leader in our company, his leadership style is direct and radically honest, Fernando is never afraid of speaking his mind or engaging in a difficult conversation if there’s an issue to solve.His authenticity has always inspired respect and admiration among his coworkers. At the same time his approachability and sense of humor make every interaction with him extremely enjoyable.

Above anything else, I consider him the most important mentor I had in my professional life. His ability and passion to transmit knowledge clearly, as well as an incredible amount of patience and dedication to the mentor role made possible for me and other developers joining the company to learn and grow immensely.

No matter the kind of problem or necessity, Fernando is always 100% committed to helping and delivering real value and I’m sure that this will be of immense benefit to every project or company he will work with.
      ") %>
        </blockquote>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
