---
title: Fernando Guillen | Art
---

<div class="px-4 pt-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Art</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      My background is in Arts. I developed my creativity before I found my technical skills. I am combining both when I do code.
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      <a href="https://albertobueno.art/" target="_blank" class="btn btn-primary btn-lg px-4 me-sm-3">Checkout some of my paitings</a>
    </div>
  </div>

  <div class="">
    <div class="container px-5">
      <img src="images/art.png" class="img-fluid border rounded-3 shadow-lg mb-4" loading="lazy">
    </div>
  </div>
</div>
