---
title: Fernando Guillen | Hire me
---

<div class="px-4 my-5 text-center">
  <h1 class="display-5 fw-bold">Hire me</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Do you need an experienced, mature, solid and productive web developer? Then I can help you.
    </p>
  </div>

  <i class="bi bi-rocket-takeoff"></i>
</div>

<%= partial("hire_me_content") %>
