---
title: Fernando Guillen | About
---

<div class="row">
    <div class="col">
        <img src="<%= image_path("pic_1.jpg") %>" class="img-fluid" alt="Fernando Guillen">
    </div>
    <div class="col-xxl-8 col-xl-6 col-lg-10 col-md-12">
        <h2 class="mt-sm-4 mt-4 mt-lg-0">Helping Business to develop their Technology Products and Technical Architectures</h2>

        <p class="  fs-5 col-md- 8 ">Hello, I am Fernando, I am original from Spain, but I've been living last decade in Berlin. I am experienced full stack web developer with more of 20 years of substantial background building small and big technical products. I can help you to build the technology product and technical architecture your business needs.</p>

        <p>Full-stack web developer, primarily using Ruby on Rails and associated technologies.</p>


        <p>I am a specialist in getting technology products off the ground, from design idea to fully functional application. Focus on production quality, but also on fast feedback loops: deliver fast and iterate. On this role I have worked for start-ups, big companies and also on personal entrepreneurial projects. As an "individual contributor" or as part of a small or large engineering team, as a senior developer or leading architecture decisions.</p>


        <p>Most recently in my role as a Co-founder and CTO of a fast growing technology company, I was hands-on directing the implementation from scratch of an architecture that now supports more than 100K requests/min and a business of 8 figures. Leading the technology decisions of a team of ~80 members. </p>


        <p>I primarily work on Rails applications, but have a solid exposure to the full web development stack.</p>

        <p>At one time or another, I have been in charge of: prototyping, implementing deployment CI based processes, cloud based servers administration, working on or directing scrum teams, working hand by hand with the product team, suffering the hell of having to make C level decisions, microservices, high load traffic, fraud prevention, performance monitoring, autoscaling, terabytes sized DBs, APIs design, ...</p>

        <p>I've also had plenty of exposure to different languages including python, C#, Java. And of course most of the modern JS frameworks like React and VueJS.</p>

        <p>... But Ruby is what I enjoy working the most.</p>

        <p>I am not just a developer, I have sensibility for the business needs, I know when to make compromises, when to cut corners, when to offer alternatives. I am used to working elbow to elbow with the product, sales and leader teams.</p>

        <p>I have had the luck of having been always surrounded by incredibly well talented people. I have learned everything I know from them. I owe everything I know to the people of the teams I have worked in, to the community around open source, web development in general and Ruby in particular.</p>

        <p><a href="mailto:fguillen.mail@gmail.com" class="btn btn-primary btn-lg px-4" target="_blank">Contact me</a></p>

        <hr class="col-3 col-md-2 mb-5">

        <h2>Profiles</h2>
        <p>Know more about me checking out my other profiles</p>
        <ul class="icon-list">
            <li><a href="https://stackoverflow.com/users/316700/fguillen?tab=profile">Stack Overflow</a></li>
            <li><a href="https://github.com/fguillen">Git Hub</a></li>
            <li><a href="https://www.linkedin.com/in/fguillen/">Linkedin</a></li>
            <li><a href="https://arturitoproductions.itch.io/">Itch.io</a></li>
        </ul>
    </div>
</div>
