---
title: Fernando Guillen | About
---

<div class="row">
    <div class="col">
        <img src="<%= image_path("pic_1.jpg") %>" class="img-fluid" alt="Fernando Guillen">
    </div>
    <div class="col-lg-10 col-md-12">
        <h2 class="mt-sm-4 mt-4 mt-lg-0">Building Business Success: Web Projects and Technical Architectures</h2>

        <p class="  fs-5 col-md- 8 ">
          Hello, I am Fernando, I am original from Spain, but I've been living last decade in Berlin.
          I am experienced full stack web developer with more of 20 years of substantial background building big and small web products.
          I can help you to build the web product and technical architecture your business needs.</p>

        <%= partial("about_content") %>

        <p><a href="mailto:hello@fernandoguillen.info" class="btn btn-primary btn-lg px-4" target="_blank">Contact me</a></p>

        <hr class="col-3 col-md-2 mt-5">

        <h2>Testimonials</h2>
        <p>My team colleges and clients talk about me</p>
        <%= partial "testimonials" %>

        <hr class="col-3 col-md-2 mt-5">

        <h2>Profiles</h2>
        <p>Know more about me checking out my other profiles</p>
        <ul class="icon-list">
            <li><a href="https://stackoverflow.com/users/316700/fguillen?tab=profile">Stack Overflow</a></li>
            <li><a href="https://github.com/fguillen">Git Hub</a></li>
            <li><a href="https://www.linkedin.com/in/fguillen/">Linkedin</a></li>
            <li><a href="https://arturitoproductions.itch.io/">Itch.io</a></li>
        </ul>
    </div>
</div>
