---
title: Fernando Guillen | My role as CTO
---

<div class="px-4 pt-5 my-5 text-center">
  <h1 class="display-5 fw-bold">My role as CTO</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      The episode of my professional career that much rich experience has provided to me ha been, without doubt, my ~ 8 as Co-founder and CTO of Dalia Research GmbH.
      My responsibilities has been from a wide range and I has been deeply exposed to all phases of a business development from bootstraping to 8 anual figures. Building
      a team of 80 people and implemented a solid, robust and scalable technical architecture.
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      <a href="https://docs.google.com/document/d/e/2PACX-1vQDNivPLeATkv97wWphQnC7-3H29n5pHK4pN2pk_w-W1Xm0Uq6UGHZbq4W9S77uTHuhZiD6N-_zyJzj/pub" target="_blank" class="btn btn-primary btn-lg px-4 me-sm-3">Checkout out my role descriptoin as CTO at Dalia</a>
    </div>
  </div>

  <div class="">
    <div class="container px-lg-5">
      <img src="images/dalia.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" loading="lazy">
    </div>
  </div>
</div>
