---
title: Fernando Guillen | Pet Projects
---

<div class="px-4 my-5 text-center">
  <h1 class="display-5 fw-bold">Pet Projects</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Building interesting things using technology is my passion. I keep experimenting with technologies and all phases of product
      development through my pet-projects.
    </p>
  </div>

  <i class="bi bi-cup-hot"></i>
</div>

<% data.pet_projects.each do |project| %>
  <%= partial "project", locals: { project_kind: "pet_project", project: project } %>
<% end %>
