---
title: Fernando Guillen | Projects
---

<div class="px-4 my-5 text-center">
  <h1 class="display-5 fw-bold">Projects</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      I have worked in all kind of technology projects. Mostly web applications. Big and small. As part of a team or as only developers. In many of them I was in direct contact with the final client
      making sure that over all the business needs were acomplished.
    </p>
  </div>

  <i class="bi bi-record-fill"></i>
</div>



<% data.projects.each do |project| %>
  <%= partial "project", locals: { project_kind: "project", project: project } %>
<% end %>
