---
title: Fernando Guillen | Projects
---

<div class="px-4 my-5 text-center">
  <h1 class="display-5 fw-bold">Projects</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      I have worked on all kinds of technology projects, mostly web applications, big and small, as part of a team or as only a developer. In many of them, I was in direct contact with the final client, making sure that the overall business needs were accomplished.
    </p>
  </div>

  <i class="bi bi-box-seam"></i>
</div>



<% data.projects.each do |project| %>
  <%= partial "project", locals: { project_kind: "project", project: project } %>
<% end %>
