---
title: Fernando Guillen | Video Games
---

<div class="px-4 my-5 text-center">
  <h1 class="display-5 fw-bold">Video Games</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Under the umbrella of <i>arturito productions</i> I have released a handful of small, artistic video game projects.
      They are 2 to 15 minutes interactive experiences.
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      <a href="https://arturitoproductions.itch.io/" target="_blank" class="btn btn-primary btn-lg px-4 me-sm-3">Checkout my itch.io page</a>
    </div>
  </div>

  <div class="">
    <div class="container px-lg-5">
      <img src="images/arturito_productions.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" loading="lazy">
    </div>
  </div>
</div>
